{% extends "base.html" %}

{% block title %}Connexion{% endblock %}

{% block menu_list %}
{% endblock %}
{% block content %}

{% if created == true %}
    <p> account succesfuly created </p>
{% else %}
    <p> error in creation </p>
{% endif %}

    <div class="row" >
        <h2 class="col-sm-2 col-sm-offset-5">Connexion</h2>
    </div>

    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <form action="/login" method="post" id="login_form">
                <div class="form-group">
                    <label for="i_email">Email:</label>
                    <input type="email" class="form-control" name="i_email" id="i_email">
                </div>
                <div class="form-group">
                    <label for="i_pwd">Mot de Passe:</label>
                    <input type="password" class="form-control" name="i_pwd" id="i_pwd">
                </div>
                <button type="submit" class="btn btn-default" onclick="connection()">Se Connecter</button>
            </form>

        </div>
    </form>

    </div>


{% endblock %}